@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");

:root {
  --primary: #071E3D;
  --secondary: #1F4287;
  --edge: #00ADB5;
  --warning: #FBDF07;
  --danger: #FF1700;
  --success: #3EC70B;
  --white: #F7F7F7;
  --light: #E7F6F2;
  --dark: #222831;
  --dark-secondary: #393E46;
}
.text-primary {color: var(--primary)!important;}
.text-secondary {color: var(--secondary)!important;}
.text-edge {color: var(--edge)!important;}
.text-warning {color: var(--warning)!important;}
.text-danger {color: var(--danger)!important;}
.text-success {color: var(--success)!important;}
.text-white {color: var(--white)!important;}
.text-light {color: var(--light)!important;}
.text-dark {color: var(--dark)!important;}
.text-dark-secondary {color: var(--dark-secondary)!important;}
.bg-primary {background-color: var(--primary)!important;}
.bg-secondary {background-color: var(--secondary)!important;}
.bg-edge {background-color: var(--edge)!important;}
.bg-warning {background-color: var(--warning)!important;}
.bg-danger {background-color: var(--danger)!important;}
.bg-success {background-color: var(--success)!important;}
.bg-white {background-color: var(--white)!important;}
.bg-light {background-color: var(--light)!important;}
.bg-dark {background-color: var(--dark)!important;}
.bg-dark-secondary {background-color: var(--dark-secondary)!important;}